{%extends "base.html"%} {% block content %}
  <header>
    <div class="container text-center">
      <img
        class="img-fluid header-yukseklik"
        src="{{url_for('static',filename='img/sayfaBasliklari/headerKurumsal.png')}}"
        alt=""
      />
    </div>
  </header>
  <section class="kurumsal mt-4 mb-4">
    <div class="container">
      <div class="kurumsal-degerlerimiz bg-light p-5 rounded rounded-2 shadow">
        <div class="row justify-content-md-around">
          <div class="col-md-6 col-lg-4">
            <h1>Değerlerimiz</h1>
            <p>
              Devletle mükellef arasında köprü görevi ifade ettiğimizi asla
              unutmamak, müşterimize hizmetten önce kıymet vermek, konuşmadan
              önce dinlemek, hizmet verirken müşteri isteklerini ön planda
              tutmak, maddiyattan zziyade değerlere önem vermek, çalışanlarımızı
              aynı ailenin fertleri olarak görmek ve kabul ettiğimiz her işi
              sonuçlandırabilmek için mümkün olduğunca hızlı hareket etmektir.
            </p>
          </div>
          <div class="col-md-6 col-lg-6 text-center">
            <img
              class="w-100"
              src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
              alt=""
            />
          </div>
        </div>
      </div>
      <hr />
      <div class="kurumsal-hedefimiz bg-light p-5 rounded rounded-2 shadow">
        <div class="row flex-md-row-reverse">
          <div class="col-md-6">
            <h1>Hedefimiz</h1>
            <p>
              Yerel, ulusal ve uluslararası düzeyde bilinen, tanınan ve hakkında
              geniş çevrelerce olumlu görüş bildirilen bir mali müşavirlik
              şirketi olmaktır.
            </p>
          </div>
          <div class="col-md-6">
            <img
              class="w-100"
              src="
                    https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt=""
            />
          </div>
        </div>
      </div>
      <hr />
      <div class="baskan-mesaji bg-light p-5 rounded rounded-2 shadow">
        <h5>Sayın İnternet Kullanıcısı,</h5>
        <p class="paragraf-basi">
          Yaşamın her alanında olduğu gibi serbest piyasa arenasında da büyük
          başarılar ve büyük riskler kol kola yürür. Özellikle hızla büyüyen ve
          adından söz ettirmeye başlayan firmalar için bu riskler çok daha
          belirgindir. Nitekim büyüme olgusu, özellikle muhasebe, finans, mali
          hukuk ve özel hukuk gibi alanlarda ciddi riskleri bünyesinde
          barındıran ve tanıştığı her işletmeye bu riskleri taşıyan bir
          realitedir. İşte tam bu noktada, bahsi geçen alanlarda atılacak her
          bir adım öncesinde muhtemel risklerin öngörülmesi ve ortadan
          kaldırılması, sağlıklı bir büyüme süreci için kritik önem
          taşımaktadır. Bu da yalnızca kaliteli bir müşavirlik hizmeti ile
          sağlanabilir.
        </p>
        <p>
          Atmaca & Karaarslan olarak; sizi dinlemeye ve anlamaya, taleplerinizi
          ön planda tutarak hareket tarzımızı belirlemeye, her türlü vergi
          iadelerinizi takip etmeye, her konuda haklarınızı korumaya, olası
          uyuşmazlıklarda sizi savunmaya ve başarıya giden yolda sizinle adım
          adım yürümeye hazırız.
        </p>
        <p>
          Katma değer üreten, istihdam yaratan, çeşitli ülkelere ihracat yapan,
          ülkemizin imajına katkı sağlayan ve daha farklı yollarla millî
          ekonomimize can veren tüm piyasa aktörlerine başarılar, hayırlı ve bol
          kazançlar dilerim.
        </p>
        <div
          class="author d-flex justify-content-md-end justify-content-center"
        >
          <div class="text-center text-secondary">
            <div class="text-black">Özer KARAARSLAN</div>
            <div>Yeminli Mali Müşavir</div>
            <div>Atmaca & Karaarslan A.Ş.</div>
            <div>Yönetim Kurulu Başkanı</div>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}
